{% extends 'base.html' %}

{% block content %}
<h1>create a new poll</h1>

{% if error_message %}<p>{{ error_message }}</p>{% endif %}

<form action="{% url 'vote:create' %}" method="post">
    {% csrf_token %}
    <div class="form-group">
        <label for="title">poll title:</label>
        <input class="form-control" type="text" name="title" id="title">
    </div>

    <div class="form-group">
        <label for="type">poll type:</label>
        <select name="type" id="type">
            <option value="simple_choice" selected>Simple Choice</option>
            <option value="multiple_choice">Multiple Choice</option>
        </select>
    </div>

    <div class="form-group">
        <label for="description">description:</label>
        <textarea class="form-control" name="description" id="description" rows="10"></textarea>
    </div>

    <div class="form-group">
    <label for="choices">choices (separated by line):</label>
    <textarea class="form-control" name="choices" id="choices" rows="18"></textarea>
    </div>

    <div class="form-group">
        <label for="creator_mail">admin mail:</label>
    {% if not validation_token %}
        <input class="form-control" type="email" name="creator_mail" id="creator_mail">
    {% else %}
        <input class="form-control" type="email" name="creator_mail" id="creator_mail" value="{{ validation_token.creator_mail }}" readonly>
        <input name="validation_token" value="{{ validation_token.token_string }}" hidden>
    {% endif %}
    </div>

    <div class="form-group">
        <label for="voter_mails">recipients (separated by line):</label>
        <textarea class="form-control" name="voter_mails" id="voter_mails" rows="23"></textarea>
    </div>

    <input class="btn btn-primary" type="submit" value="submit">
</form>
{% endblock %}
