{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}Demockrazy{% endblock %}</title>

    <link rel="stylesheet" type="text/css" href="{% static "foundation-6.4.2-custom/css/foundation.min.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "foundation-6.4.2-custom/css/app.css" %}" />

  </head>

  <body>

    <nav class="hover-underline-menu">
        <a class="logo" href="{% url 'vote:index' %}">Demockrazy</a>
        {% if not token %}
            <button class="button menu-button">create new poll</button>
        {% endif %}
    </nav>

    <div class="container">

      <div class="starter-template">
        {% block content %}{% endblock %}
      </div>

    </div><!-- /.container -->

      
    <script src="{% static "foundation-6.4.2-custom/js/vendor/jquery.js" %}"></script>
    <script src="{% static "foundation-6.4.2-custom/js/vendor/foundation.min.js" %}"></script>
    <script src="{% static "foundation-6.4.2-custom/js/app.js" %}"></script>
    
    <script src="{% static "highcharts-custom.js" %}"></script>
      
    {% comment %}<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
    {% endcomment %}

    {% block js %}{% endblock %}
  </body>
</html>
